* {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(16, 204, 204);
}
.hi {
  margin-right: 50px;
  padding-right: 200px;
   text-align: right;
   
}
.intro {
  text-align: right;
margin-right: 50px;
  margin-right: 50px;
  text-decoration: hsl(81, 100%, 50%);
  color: rgb(1, 4, 10);
  
}
.lawre {
  width: 200px;
  float: unset;
  margin-left: 50px;
  height: 200px;
  border-radius: 100px;
  object-position: right;
  margin-top: 60px;
  
}
.back {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
p {
  color: rgb(2, 51, 61);
}

h1 {
  color: white;
}
.navbar {
  background-color: #016fff;
  padding: 0.5em;
}

.nav-link {
  color: #fff;
  border: 0.1em rgb(36, 86, 156);
  margin: 0.2em;
  padding: 0.2em;
}
a {
  text-decoration: ;
}

nav {
  background-color: blueviolet;
}

nav a {
  color: black;
}
header {
  background-color: rgb(16, 204, 204);
  background-size: 5px;
}
. hd2 {
  background-color: rgb(16, 204, 204);
}
.copy {
  color: rgb(54, 0, 0);
  text-align: center;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  background-color: rgb(16, 204, 204);
}
